Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        files:
          "/etc/cfn/hooks.d/eb-log-setup.conf":
            content: |
              [cfn-init]
              commands:
                01_resize_root_volume:
                  command: |
                    /opt/elasticbeanstalk/bin/rebuild-tmpfs --size 6G
                  ignoreErrors: true